<app-header></app-header>

<section class="container my-5">
  <div class="row justify-content-center">
    
    <!-- Login Form -->
    <div class="col-lg-5 col-md-6 col-sm-12">
      <h3 class="text-center mb-4">Login</h3>
      <form class="row g-3" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div formGroupName="credentials">
          <div class="col-12">
            <label for="username" class="form-label">Email :</label>
            <input type="email" class="form-control" id="username" formControlName="username">
          </div>
          <div class="col-12">
            <label for="password" class="form-label">Password :</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
      </form>
    </div>

    <!-- Vertical Divider -->
    <div class="col-lg-1 d-none d-lg-flex justify-content-center align-items-start">
      <div class="vr h-100"></div> <!-- Ligne verticale de Bootstrap -->
    </div>

    <!-- Register Form -->
    <div class="col-lg-5 col-md-6 col-sm-12">
      <h3 class="text-center mb-4">Register</h3>
      <form class="row g-3" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
        <div class="col-12">
          <label for="user_name" class="form-label">Prénom :</label>
          <input type="text" class="form-control" id="user_name" formControlName="user_name">
        </div>
        <div class="col-12">
          <label for="last_name" class="form-label">Nom :</label>
          <input type="text" class="form-control" id="last_name" formControlName="user_last_name">
        </div>
        <div class="col-12">
          <label for="genre" class="form-label">Genre :</label>
          <select class="form-control" id="genre" formControlName="user_genre">
            <option value="H">Homme</option>
            <option value="F">Femme</option>
            <option value="Autre">Autre</option>
          </select>
        </div>
        <div class="col-12">
          <label for="birthday" class="form-label">Date de naissance :</label>
          <input type="date" class="form-control" id="birthday" formControlName="user_birthday">
        </div>
        <div class="col-12">
          <label for="email" class="form-label">Email :</label>
          <input type="email" class="form-control" id="email" formControlName="user_email">
        </div>
        <div class="col-12">
          <label for="tel" class="form-label">Téléphone :</label>
          <input type="tel" class="form-control" id="tel" formControlName="user_tel">
        </div>
        <div class="col-12">
          <label for="address" class="form-label">Adresse :</label>
          <input type="text" class="form-control" id="address" formControlName="user_adress">
        </div>
        <div class="col-12">
          <label for="user_password" class="form-label">Mot de passe :</label>
          <input type="password" class="form-control" id="user_password" formControlName="user_password">
        </div>
        <div class="col-12">
          <label for="confirm_password" class="form-label">Confirmer le mot de passe :</label>
          <input type="password" class="form-control" id="confirm_password" formControlName="confirm_password">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">S'inscrire</button>
        </div>
      </form>
    </div>
  </div>
</section>
