<section id="accueil">
    <div class="container-fluid p-0 position-relative">
        <img src="/assets/photo_header_hackaton_pressing.webp" class="img-fluid full-width-image w-100" alt="Hackaton Image">
        <div class="image-text">
        <h1>Hackaton Du Pressing</h1>
        <a href="/commande">
        <button type="button" class="btn btn-primary">Commande</button>
        </a>
        </div>
    </div>
</section>
<div class="spacer"></div>

<!-- Section Qui sommes-nous ? -->
<section id="qui-sommes-nous">
    <div class="container my-5" id="qui-sommes-nous">
        <h2>Qui sommes-nous ?</h2>
        <p>Bienvenue chez <strong>Hackaton du Pressing</strong>, votre entreprise locale de lavage et entretien textile, gérée par un couple passionné par le service de qualité. Nous nous engageons à rendre la vie de nos clients plus simple et agréable en leur offrant un service personnalisé et attentif.</p>
        <br>
        <h3>Notre Engagement</h3>
        <p>Chez Hackaton du Pressing, nous croyons en l'importance de la propreté et de l'entretien de vos vêtements. Nous utilisons des méthodes de nettoyage respectueuses de l'environnement et des produits de haute qualité pour garantir la satisfaction de nos clients. Que vous ayez besoin d’un lavage classique, d’un repassage soigné ou d’un nettoyage délicat, notre équipe expérimentée est là pour répondre à vos besoins.</p>
        <br>
        <h3>Notre Équipe</h3>
        <p>Nous sommes fiers de notre équipe d'employés locaux, qualifiés et dévoués. Au fil des visites, vous aurez la chance de retrouver les mêmes visages, car nous savons qu'un contact client agréable est essentiel. Notre personnel connaît vos préférences et s'assure de vous offrir une expérience fluide et chaleureuse à chaque visite.</p>
        <br>
        <h3>Pourquoi Choisir Hackaton du Pressing ?</h3>
        <ul>
            <li><strong>Qualité</strong> : Un soin méticuleux pour chaque article.</li>
            <li><strong>Rapidité</strong> : Un service rapide sans compromettre la qualité.</li>
            <li><strong>Écologique</strong> : Des méthodes de nettoyage respectueuses de l’environnement.</li>
            <li><strong>Local</strong> : Une entreprise de proximité avec une équipe dévouée.</li>
            <li><strong>Confiance</strong> : Une relation client chaleureuse, renforcée par des employés réguliers.</li>
        </ul>
        <br>
        <p>"Rejoignez notre communauté de clients satisfaits et découvrez l'expérience unique de Hackaton du Pressing. 
            Nous avons hâte de vous accueillir et de prendre soin de vos textiles avec la même 
            attention que s'ils étaient les nôtres !"
        </p>
    </div>
</section>
<section id="prestations">
    <div class="container-fluid my-5" id="prestations">
        <h2 class="text-center">Nos Prestations</h2><br>
        <div class="row">
            <div *ngFor="let service of services" class="col-md-3 text-center mb-4">
                <div class="card">
                    <img [src]="service.service_image" class="card-img-top" alt="{{ service.service_name }}" style="height: 150px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.service_name }}</h5>
                        <p>{{ service.service_price }}€</p>
                        <a [routerLink]="['/commande']" class="btn btn-primary">Commander service</a>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</section>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<router-outlet id="contact"></router-outlet>